:php
  $this->pageTitle=Yii::app()->name . ' - About';
  $this->breadcrumbs=array(
    'About',
  );
%h1 About
%p "Это статическая страница". You may change the content of this page by updating the file
  %code= __FILE__