-$this->pageTitle=Yii::app()->name
%h1< Добро пожаловать
  %i= CHtml::encode(Yii::app()->name)
%p Congratulations! You have successfully created your Yii application.
%p You may change the content of this page by modifying the following two files:
%ul
  %li View file:
    %code= __FILE__
  %li Layout file:
    %code= $this->getLayoutFile('main')
%p!= For more details on how to further develop this application, please read the <a href="http://www.yiiframework.com/doc/">documentation</a>. Feel free to ask in the <a href="http://www.yiiframework.com/forum/">forum</a>, should you have any questions.
:php
  $object = new LangChange();
  $object->setAppLang('pl');
%p=Yii::t('app', 'Default Language: ') . $object->getDefaultLang()
%p=Yii::t('app', 'Preffered Language: ') . $object->getPrefLang()
%p=Yii::t('app', 'Cookie Language: ') . $object->getCookieLang()



/-$this->widget('ext.langPick.ELangPick', array('excludeFromList' => array('en_us'),))
