.langswitch{
  img{
    vertical-align: inheerit;
  }
}
.navbar{
  .langswitch{
    .label-switch{
      line-height: 45px;
      color: #999;
    }
    >li{
      >a{
        padding:{
          top: 12.5px;
          right: 6px;
          bottom: 12.5px;
          left: 6px;
        }
        >img{
          vertical-align: middle;
        }
      }
    }
  }
}
