= $this->beginContent('//layouts/main')
.row-fluid
  .span9.offset3
    = CHtml::tag('h1',array('class'=>'h1'),$this->pageHeader)
.row
  .span9.pull-right
    .main-content#content
      = $content
  .span3.pull-left.left-bar.text-right
    #sidebar
      :php
        $this->widget('bootstrap.widgets.TbNav', array(
          'type' => TbHtml::NAV_TYPE_LIST,
          'items' => $this->sidebar,
        ));

        if(!Yii::app()->user->isGuest)
          echo CHtml::tag('br');
          $this->widget('bootstrap.widgets.TbNav', array(
            'type' => TbHtml::NAV_TYPE_LIST,
            'items' => $this->menu,
          ));
= $this->endContent()
