:php
  $this->pageTitle=Yii::app()->name . ' - ' . Yii::t('app', 'ABOUT');
  $this->breadcrumbs=array(
    Yii::t('app', 'ABOUT'),
  );
%h1=Yii::t('app', 'ABOUT')
%p "Это статическая страница". You may change the content of this page by updating the file
  %code= __FILE__

-$this->widget('ext.langChange.LanguageChange', array('pickerType' => 'flags',))
-$this->widget('ext.langChange.LanguageChange', array('pickerType' => 'dropdown',))
